body {
    background-color: #F8ECE0;
}
h1{
    color: blueviolet;
}
h2{
    font-style: italic;
    color: violet;
}
li{
    font-style: italic;
    font-family: cursive;
    font-size: medium;
    font-weight: 400;
}
p{
    font-family: cursive;
    font-size: medium;
    font-weight: 400;
}